{
	"AWSTemplateFormatVersion" : "2010-09-09",

	"Description" : "",

	"Parameters" : {
		"ManagerNodes" : {
			"Description" : "List of Instances to add",
			"Type" : "CommaDelimitedList"
			},
		"ELBSG" : {
			"Description" : "SecurityGroup ID for ELB",
			"Type" : "AWS::EC2::SecurityGroup::Id"
			}
	},

	"Resources" : {
	},

	"Outputs" : {
	}
}
